.testimonial-section{
    min-height: 100vh;
}
.patient-card{
    transition: transform .3s ease-in;
    
}
/* .patient-card{
    box-shadow: 0px 0px 20px #825fda94;
    border-radius: 40px 0 40px 0;
    transform: translate(0px , -20px);
} */

